$white: white;
$black: black;

$dark-blue-elements: hsl(209, 23%, 22%);
$very-dark-blue-background: hsl(209, 26%, 17%);
$very-light-gray-background: hsl(0, 0%, 98%);
$light-gray-font: hsl(0, 0%, 90%);
$dark-gray-light: hsl(0, 0%, 52%);

//fonts

$font-very-small: 0.75rem;
$font-small: 0.9375rem;
$font-smedium: 1rem;
$font-medium: 1.125rem;
$font-l: 1.4375rem;
$font-xl: 1.625rem;
$font-xxl: 1.875rem;
$font-title: 2.1875rem;
$font-small-title: 1.25rem;
$font-medium-title: 1.5rem;
