@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --background-main-color: hsl(0, 0%, 98%);
  --background-item-color: white;
  --background-navbar-color: white;
  --font-main-color: black;
  --search-logo: hsl(0, 0%, 52%);
}

.dark-theme {
  --background-main-color: hsl(209, 26%, 17%);
  --background-item-color: hsl(209, 23%, 22%);
  --background-navbar-color: hsl(209, 23%, 22%);
  --font-secondary-color: hsl(0, 0%, 90%);
  --font-main-color: white;
  --search-logo: white;
}

* {
  margin: 0;
  padding: 0;
  /*  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none; */
}

body {
  min-width: 23.4375rem;
  background-color: var(--background-main-color);
  font-family: "Roboto", sans-serif;
}

.loading {
  background-color: var(--background-main-color);
  height: 90vh;
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
}
.loading-container {
  margin: 0 auto;
}

.error-search-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  text-align: center;
  background-color: var(--background-main-color);
  color: var(--font-main-color);
}
.error-search-container .error-icon {
  margin: 6.25rem 0;
  font-size: 6.25rem;
}

.btn-link {
  text-decoration: none;
}

.btn-back {
  cursor: pointer;
  border: none;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--background-item-color);
  color: var(--font-main-color);
  letter-spacing: 0.1875rem;
  font-weight: 300;
  margin-top: 2.5rem;
  width: 9.375rem;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 40em) {
  .btn-back {
    font-size: 1.25rem;
    width: 12.5rem;
    height: 3.75rem;
  }
}
.btn-back .arrow-icon {
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
}

.not-found-container {
  background-color: var(--background-main-color);
  width: 100%;
  height: 92vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-main-color);
}
.not-found-container h2 {
  font-size: 50px;
}
.not-found-container .not-found-icon {
  font-size: 100px;
}

.nav-container {
  background-color: var(--background-navbar-color);
  color: var(--font-main-color);
  padding: 0 0.625rem;
  height: 10rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media (min-width: 40em) {
  .nav-container {
    padding: 0 1.875rem;
  }
}
@media (min-width: 64em) {
  .nav-container {
    height: 80px;
    padding: 0 5rem;
  }
}
.nav-container h2 {
  font-size: 1.25rem;
}
@media (min-width: 64em) {
  .nav-container h2 {
    font-size: 23px;
  }
}
.nav-container .mode {
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container .mode .moon-logo {
  font-size: 1.25rem;
}
.nav-container .mode .moon-logo:hover {
  opacity: 60%;
}
.nav-container .mode p {
  font-weight: bold;
  font-size: 1.125rem;
  margin-left: 0.9375rem;
  user-select: none;
  cursor: pointer;
}
.nav-container .mode p:hover {
  opacity: 60%;
}

.home-container {
  background-color: var(--background-main-color);
  color: var(--font-main-color);
  height: auto;
}

.filters-container {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  height: 12.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 64em) {
  .filters-container {
    margin: 0 auto;
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
    width: 90%;
    height: 3.75rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
.filters-container-search {
  background: var(--background-item-color);
  width: 90%;
  height: 4.375rem;
  border-radius: 0.375rem;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media (min-width: 64em) {
  .filters-container-search {
    max-width: 30rem;
    height: 3.75rem;
  }
}
.filters-container-search .search-logo {
  margin: 0 2.5rem;
  font-size: 1.875rem;
  color: var(--search-logo);
}
.filters-container-search input {
  color: var(--font-main-color);
  background: var(--background-item-color);
  font-size: 1.125rem;
  border-radius: 0.375rem;
  border: none;
  width: 70%;
  height: 100%;
}
@media (min-width: 64em) {
  .filters-container-search input {
    width: 100%;
  }
}
.filters-container-search input:focus {
  outline: none;
}
.filters-container-filter {
  border-radius: 0.375rem;
  width: 90%;
  height: 4.375rem;
}
@media (min-width: 64em) {
  .filters-container-filter {
    width: 12.5rem;
    height: 3.75rem;
  }
}
.filters-container-filter .filter-select {
  cursor: pointer;
  /* appearance: none; */
  color: var(--font-main-color);
  background: var(--background-item-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 0 1.875rem 0 1.875rem;
  width: 70%;
  height: 100%;
  max-width: 25rem;
  font-size: 1.125rem;
  border-radius: 0.375rem;
}
@media (min-width: 64em) {
  .filters-container-filter .filter-select {
    width: 100%;
  }
}
.filters-container-filter .filter-select::selection {
  border: none;
}
.filters-container-filter .filter-select:focus {
  outline: none;
  border: none;
}
.filters-container-filter .filter-select::-ms-expand {
  display: none;
}
.filters-container-filter .filter-select option {
  cursor: pointer;
  width: 70%;
  border: none;
  border-radius: 6px;
}
@media (min-width: 64em) {
  .filters-container-filter .filter-select option {
    width: 100%;
  }
}
.filters-container-filter .filter-select option:focus {
  outline: none;
}

.country-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3.4375rem;
}
@media (min-width: 64em) {
  .country-container {
    margin: 0 auto;
    padding-bottom: 150px;
    width: 90%;
  }
}
.country-container-country {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.375rem;
  background-color: var(--background-item-color);
  width: 18.75rem;
  min-width: 16.25rem;
  max-width: 28.125rem;
  /* width: 100%; */
  height: 25rem;
}
@media (min-width: 40em) {
  .country-container-country {
    min-width: 16.25rem;
    max-width: 18.75rem;
    height: 25rem;
  }
}
@media (min-width: 64em) {
  .country-container-country {
    width: 17.5rem;
    max-width: 17.5rem;
    height: 21.875rem;
  }
}
.country-container-country .link-img {
  width: inherit;
  min-height: 10rem;
  height: 11.625rem;
  max-height: 20rem;
}
.country-container-country img {
  width: inherit;
  min-height: 10rem;
  height: 11.625rem;
  max-height: 20rem;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  object-fit: cover;
  object-position: center center;
}
.country-container-country img:hover {
  opacity: 70%;
}
.country-container-country .info-container {
  margin: 0 auto;
  width: 80%;
  height: 18.75rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: flex-start;
}
.country-container-country .info-container .link-title {
  text-decoration: none;
  color: var(--font-main-color);
}
.country-container-country h2 {
  font-size: 1.5rem;
  margin: 1.5625rem 0;
}
@media (min-width: 64em) {
  .country-container-country h2 {
    font-size: 1.25rem;
    margin: 0.9375rem 0;
  }
}
.country-container-country h2:hover {
  opacity: 60%;
}
.country-container-country p {
  font-weight: bold;
}
.country-container-country p:not(:last-child) {
  margin-bottom: 0.25rem;
}
.country-container-country p span {
  font-weight: 400;
}

.country-detail-container {
  height: 90vh;
  background: var(--background-main-color);
  width: 100%;
  color: var(--font-main-color);
}
@media (min-width: 64em) {
  .country-detail-container {
    padding-bottom: 20px;
  }
}
.country-detail-container .btn-link {
  text-decoration: none;
}
.country-detail-container .btn-back {
  cursor: pointer;
  border: none;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--background-item-color);
  color: var(--font-main-color);
  letter-spacing: 0.1875rem;
  font-weight: 300;
  margin-top: 2.5rem;
  width: 9.375rem;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 40em) {
  .country-detail-container .btn-back {
    font-size: 1.25rem;
    width: 12.5rem;
    height: 3.75rem;
  }
}
.country-detail-container .btn-back .arrow-icon {
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
}
.country-detail-container .info-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 80%;
}
@media (min-width: 40em) {
  .country-detail-container .info-container {
    width: 75%;
  }
}
@media (min-width: 64em) {
  .country-detail-container .info-container {
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 85%;
  }
}
.country-detail-container .info-container .country-flag {
  margin: 6.25rem 0;
  width: 100%;
}
@media (min-width: 64em) {
  .country-detail-container .info-container .country-flag {
    width: 90%;
    min-width: 25rem;
    max-width: 35rem;
    min-height: 23.75rem;
    max-height: 28.125rem;
    object-fit: cover;
  }
}
.country-detail-container .info-container .detail-title {
  margin-bottom: 3.75rem;
  font-size: 1.625rem;
}
@media (min-width: 40em) {
  .country-detail-container .info-container .detail-title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 64em) {
  .country-detail-container .info-container .detail-title {
    font-size: 1.625rem;
    margin-bottom: 2.8125rem;
  }
}
.country-detail-container .info-container .detail-span {
  color: var(--font-secondary-color);
  font-weight: 300;
}
.country-detail-container .info-container .first-column,
.country-detail-container .info-container .second-column {
  margin-bottom: 5rem;
}
.country-detail-container .info-container .first-column p,
.country-detail-container .info-container .first-column span,
.country-detail-container .info-container .second-column p,
.country-detail-container .info-container .second-column span {
  font-size: 1.125rem;
}
.country-detail-container .info-container .first-column p:not(:last-child),
.country-detail-container .info-container .second-column p:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .country-detail-container .info-container .first-column p:not(:last-child),
  .country-detail-container .info-container .second-column p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (min-width: 40em) {
  .country-detail-container .info-container .first-column p,
  .country-detail-container .info-container .first-column span,
  .country-detail-container .info-container .second-column p,
  .country-detail-container .info-container .second-column span {
    font-size: 1.4375rem;
  }
}
@media (min-width: 64em) {
  .country-detail-container .info-container .first-column,
  .country-detail-container .info-container .second-column {
    margin-bottom: 0px;
  }
  .country-detail-container .info-container .first-column p,
  .country-detail-container .info-container .first-column span,
  .country-detail-container .info-container .second-column p,
  .country-detail-container .info-container .second-column span {
    font-size: 1rem;
  }
}
.country-detail-container .info-container .borders-container {
  margin-top: 1.875rem;
  margin-bottom: 5rem;
}
@media (min-width: 64em) {
  .country-detail-container .info-container .borders-container {
    margin-bottom: 0px;
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
}
.country-detail-container .info-container .borders-container h3 {
  font-size: 1.125rem;
}
@media (min-width: 40em) {
  .country-detail-container .info-container .borders-container h3 {
    font-size: 1.4375rem;
  }
}
@media (min-width: 64em) {
  .country-detail-container .info-container .borders-container h3 {
    font-size: 1.125rem;
    min-width: 10rem;
  }
}
.country-detail-container .info-container .borders-container .span-container {
  height: auto;
  margin-top: 2.8125rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1.25rem;
}
@media (min-width: 64em) {
  .country-detail-container .info-container .borders-container .span-container {
    gap: 0.9375rem;
    margin-top: 0;
    align-items: flex-start;
  }
}
.country-detail-container .info-container .borders-container .border-span {
  width: 9.375rem;
  height: 2.625rem;
  border-radius: 0.1875rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--background-item-color);
  color: var(--font-main-color);
  font-weight: 300;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.country-detail-container .info-container .borders-container .border-span:hover {
  opacity: 60%;
}
@media (min-width: 40em) {
  .country-detail-container .info-container .borders-container .border-span {
    font-size: 1.125rem;
    width: 10rem;
    height: 3.25rem;
  }
}
@media (min-width: 64em) {
  .country-detail-container .info-container .borders-container .border-span {
    font-size: 0.75rem;
    width: 90px;
    height: 1.875rem;
  }
}
@media (min-width: 64em) {
  .country-detail-container .country-info {
    gap: 1.25rem;
    width: 60%;
    margin-top: 13.75rem;
    margin-left: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(170px, 1fr));
    grid-template-rows: repeat(2, 17.5rem);
    grid-template-areas: "first-column second-column" "borders borders";
  }
}
@media (min-width: 64em) {
  .country-detail-container .first-column {
    grid-area: first-column;
  }
  .country-detail-container .second-column {
    margin-top: 5rem;
    grid-area: second-column;
  }
  .country-detail-container .borders-container {
    grid-area: borders;
  }
}
.country-detail .border-link {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
